﻿
@{
    ViewBag.Title = "Explore";
}

<h2>Explore</h2>

<form action="/Search/Results" method="POST" id="searchform">
    <div id="searchwrap">
        <input type="text" name="searchkey" id="searchkey" />
        <i onclick="document.getElementById('searchform').submit();" class="fas fa-search" id="search-mg"></i>
    </div>
    <input type="submit" value="submit"  style="visibility:hidden;"/>
</form>

