﻿@model IEnumerable<http5204_FirstMVC.Models.SearchItem>

<h2>Search Results</h2>
@Html.ActionLink("Back To Search", "Explore", "Search")
@foreach(var searchitem in Model)
{
   
    <div class="searchitem">
        <h2>@Html.ActionLink(searchitem.SearchTitle,"Show/"+searchitem.SearchID,searchitem.SearchType)</h2>
        <span>Record Type: @searchitem.SearchType</span>
        <p>@searchitem.SearchContent</p>
    </div>

}