﻿@model http5204_FirstMVC.Models.ViewModels.BlogEdit
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="POST" action="/Blog/Edit/@Model.Blog.BlogID">
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input type="text" value="@Model.Blog.BlogTitle" id="BlogTitle" name="BlogTitle" />
    </div>
    <div class="inptrow">
        <label class="inplabel">Author</label>
        <select id="BlogAuthor" name="BlogAuthor">
            @foreach (var Author in Model.Authors)
            {
                <option value="@Author.AuthorID"
                        @if (Author.AuthorID == Model.Blog.Author.AuthorID) { var selected = "selected"; @selected ; }>
                    @Author.AuthorFName @Author.AuthorLName aka @Author.AuthorPenName
                </option>
            }
        </select>
    </div>
    <div class="inprow">
        <div class="inplabel">Content</div>
        <textarea id="BlogBio" name="BlogBio">@Model.Blog.BlogBio</textarea>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>


    