﻿@model IEnumerable<http5204_FirstMVC.Models.Blog>

@{
    ViewBag.Title = "List";
}
<div class="banner" id="blogbanner">
    <h2>Blogs</h2>
</div>
<div class="recadd">
    @Html.ActionLink("Start Writing!", "New", "Blog")
</div>
<div class="reccontainer" style="overflow:hidden;">
    @foreach (var blog in Model)
    {
        <div class="rec">
            
            <div class="recprofile">
                <div class="img-container">
                    
                    @if (blog.Author.HasPic == 1)
                    {
                        <img src="~/imgs/authors/@(blog.Author.AuthorID).@(blog.Author.ImgType)" />
                    }
                    else
                    {
                        <img src="~/imgs/authors/default.jpg" />
                    }
                    
                </div> 
                <span class="img-caption">@blog.Author.AuthorPenName</span>
            </div>
            <div class="recbody">
                <label>@Html.ActionLink(blog.BlogTitle, "Show/" + blog.BlogID)</label>
                
                <p>@blog.BlogBio</p>
                <span class="del">
                    <a href="@Url.Action("Delete/" + blog.BlogID)"><i class="far fa-trash-alt"></i></a>
                </span>
            </div>
            <div class="clearfix"></div>
        </div>

    }
</div>
