﻿@model http5204_FirstMVC.Models.ViewModels.BlogEdit
@{
    ViewBag.Title = "New";
}

<h2>New Blog</h2>

<form method="POST" action="/Blog/Create">
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input id="BlogTitle_New" name="BlogTitle_New" />
    </div>
    <div class="inptrow">
        <label class="inplabel">Author</label>
        <select id="BlogAuthor_New" name="BlogAuthor_New">
            @foreach (var author in Model.Authors)
            {
                <option value="@author.AuthorID">@author.AuthorFName @author.AuthorLName aka @author.AuthorPenName</option>
            }
        </select>
    </div>
    <div class="inprow">
        <div class="inplabel">Content</div>
        <textarea id="BlogBio_New" name="BlogBio_New"></textarea>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>


</form>

