﻿@model http5204_FirstMVC.Models.Blog
@{
    ViewBag.Title = "Show";
}

<h2>@Model.BlogTitle</h2>
<h3>Written By @Model.Author.AuthorPenName</h3>
<div>
    @Html.ActionLink("Edit", "Edit/"+Model.BlogID)
</div>
<p>@Model.BlogBio</p>

<h3>Articles in @Model.BlogTitle</h3>
@Html.ActionLink("Make A Page!", "New/", "Page")
@foreach (var page in Model.Pages)
{
    <span class="recitem">@Html.ActionLink(page.PageTitle, "Show/" + page.PageID,"Page")</span>
}
