﻿@model http5204_FirstMVC.Models.Tag

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Tag</h2>

<form method="POST" action="/Tag/Edit/@Model.TagID">
    <div class="inprow">
        <div class="inplabel">Name:</div>
        <input type="text" id="TagName" name="TagName" value="@Model.TagName" />
    </div>
    <div class="inprow">
        <div class="inplabel">Color <span class="colorbox" id="colordemo">&nbsp;</span></div>
        <select id="TagColor" name="TagColor" onchange="ColorPick(this,'colordemo','TagName');">
            @{
                //This is similar to just making an associative array in PHP
                //Follows key=>value pairs
                IDictionary<string, string> colorassoc = new Dictionary<string, string>();
                colorassoc["Red"] = "e74c3c";
                colorassoc["Purple"] = "9b59b6";
                colorassoc["Dark Blue"] = "2980b9";
                colorassoc["Light Blue"] = "3498db";
                colorassoc["Green"] = "1abc9c";
                colorassoc["Orange"] = "d68910";
                colorassoc["Navy"] = "2e4053";

                //Key/Value keyword discovered from
                //https://stackoverflow.com/questions/141088/what-is-the-best-way-to-iterate-over-a-dictionary
                foreach (KeyValuePair<string, string> entry in colorassoc)
                {
                    string showing = "";
                    if (entry.Value == Model.TagColor)
                    {
                        showing = "selected";
                    }
                    <option value="@entry.Value" @showing>
                        @entry.Key
                    </option>
                    }
                }

            <!-- The above razor syntas should print out something
                that looks like this, except the Tag's existing color
                will be preselected
            <option value="e74c3c">Red</option>
            <option value="9b59b6">Purple</option>
            <option value="2980b9">Dark Blue</option>
            <option value="3498db">Light Blue</option>
            <option value="1abc9c">Green</option>
            <option value="d68910">Orange</option>
            <option value="2e4053">Navy</option>
            -->
        </select>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>


</form>