﻿body {
}
.reccontainer{
    padding-top:30px;
    width:70%;
    margin:0 auto;
    padding:20px;
}
.rec {
    position: relative;
    margin-bottom: 15px;
    -webkit-box-shadow: 3px 3px 3px 3px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 3px 3px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 3px 3px #ccc;
    padding: 12px;
}
.recprofile{
    width:24%;
    margin-right:2%;
    float:left;
}
.recbody{
    width:74%;
    float:left;
}

.rec label{
    font-size:18px;
}
.rec label a:hover{
    text-decoration:none;
}

.rec .del{
    position:absolute;
    top:5px;
    right:5px;
}
.rec .del a{
    color:red;
}

.rec h2{
    margin-top:0px;
}
.recitem {
    display: block;
    margin-left: 15px;
    font-size: 18px;
    margin-top: 5px;
}
.inprow{
    margin-bottom:5px;

}
.inprow input[type="text"], .inprow textarea{
    box-sizing:border-box;
    box-shadow:none;
    border:1px solid #e0e0e0;
    padding-left:3px;
}
.inprow input[type="submit"]{
    background:#fefefe;
    border:1px solid #e0e0e0;
    color:c3c3c3;
    margin-top:14px;
}
.inprow textarea{
    height:80px;
    width:400px;
}
.inplabel{
    font-size:16px;
    color:#212121;
    font-weight:bold;
    letter-spacing:.05em;
    margin-bottom:5px;
}

.colorbox{
    min-width:60px;
    padding:5px 5px;
    content:'';
    display:inline-block;
   
    text-align:center;
    color:#fff;
    line-height:16px;
}
.colorbox a, .colorbox a:hover, .colorbox a:active{
    text-decoration:none;
    color:#fff;
}
.pagecolumn{
    float:left;
    width:79%;
    margin-right:2%;
}
.authorcolumn{
    width:19%;
    float:left;
    margin-top:50px;
}
.pagecontent{
    background:#fff;
    margin: 0 auto;
    font-size:18px;
    margin-top:20px;
}
.pagecontent p{
    padding:7px;
    margin-bottom:14px;
}
.body-content{
    position:relative;
}
.recadd{
    margin-top:20px;
    font-size:20px;
}

.promptlink, .promptlinkleft{
    position:absolute;
    top:30px;
    right:15px;
    font-size:22px;
}
.promptlinkleft{
    right:auto;
    left:15px;
}

.banner{
    width:100%;
    height:200px;
    position:relative;
}
.banner h2 {
    font-size: 40px;
    position: absolute;
    text-align: center;
    left:0px;
    margin-left:auto;
    right:0px;
    margin-right:auto;
    top:0px;
    margin-top:auto;
    bottom:0px;
    margin-bottom:auto;
    height:40px;
}
#pagebanner{
    background-image:url(../imgs/bonding.jpg);
    background-attachment:scroll;
    background-position:50% 50%;
}
#pagebanner h2{
    color:#101010;
}

#blogbanner{
    background-image:url(../imgs/paint.jpeg);
    background-attachment:fixed;
    background-size:cover;
    background-position:50% 50%;
}
#blogbanner h2 {
    text-shadow: 1px 1px 2px grey;
}
#authorbanner{
    background-image:url(../imgs/glasses.jpg);
    background-size:cover;
    background-position: 50% 50%;
}
#tagbanner {
    background-image: url(../imgs/skate.jpg);
    background-size: cover;
    background-position: 52% 68%;
}
#authorbanner h2, #tagbanner h2 {
    color: white;
    text-shadow: 1px 1px 2px black;
}

.img-container{
    /*
        cap images at square
        if you have access to an image library
        you can server side crop the images to a square
        instead.
    */
    width:100px;
    height:100px;
    overflow:hidden;
    border-radius:50%;
    position:relative;
}
.img-container img{
    width:100%;
}
 .img-caption{
    display:block;
    text-align:center;
    background:#7bb7b9;
    color:#fff;
    border-radius:2px;
    width:100px;
    margin-top:4px;
}
 .authoraltar{
     padding-top:40px;
 }
 .authoraltar .img-container{
     
     width:200px;
     height:200px;
     margin:0 auto;
 }
 .authoraltar h2{

     text-align:center;
 }

#searchkey {
    display: block;
    margin: 0 auto;
    border: 1px solid #ececec;
    padding: 5px 4px 5px 18px;
    -webkit-box-shadow: 3px 3px 3px 3px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 3px 3px #ccc; /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 3px 3px #ccc;
    max-width: none;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    width:100%;
    
}
#searchwrap {
    position: relative;
    padding: 5px;
    width: 65%;
    margin: 0 auto;
}
#searchform #search-mg{
    position:absolute;
    font-size:36px;
    color:#ccc;
    right:20px;
    top:17px;
    
}
#searchform #search-mg:hover{
    cursor:pointer;

}