﻿@model IEnumerable<http5204_FirstMVC.Models.Page>
@{


    ViewBag.Title = "List";
}

<div class="banner" id="pagebanner">
    <h2>Pages</h2>
</div>
<div class="recadd">
    @Html.ActionLink("Make a New Page", "New")
</div>
<div class="reccontainer">
@foreach (var Page in Model)
{

    <div class="rec">
        
        <div class="recprofile">
            <div class="img-container">
                @if (Page.Blog.Author.HasPic == 1)
                {
                    <img src="~/imgs/authors/@(Page.Blog.Author.AuthorID).@(Page.Blog.Author.ImgType)" />
                }
                else
                {
                    <img src="~/imgs/authors/default.jpg" />
                }
            </div>
            <span class="img-caption">@Page.Blog.Author.AuthorPenName</span>
        </div>
        <div class="recbody">
            <label>@Html.ActionLink(Page.PageTitle, "Show/" + Page.PageID)</label>
            <div>
                @foreach (var pxt in Page.pagesxtags)
                {
                    <span style="background:#@pxt.Tag.TagColor; margin-bottom:5px;" class="colorbox">@Html.ActionLink(pxt.Tag.TagName, "Show/"+pxt.Tag.TagID, "Tag")</span>

                }
            </div>
            <p>@Page.PageContent</p>
            <span class="del">
                <a href="@Url.Action("Delete/"+Page.PageID)"><i class="far fa-trash-alt"></i></a>
            </span>
        </div>
        <div class="clearfix"></div>
    </div>
    
}
</div>