﻿@model IEnumerable<http5204_FirstMVC.Models.Blog>
@{
    ViewBag.Title = "New";
}

<h2>New Page</h2>
<form method="POST" action="/Page/Create">
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input id="PageTitle_New" name="PageTitle_New" />
    </div>
    <div class="inptrow">
        <label class="inplabel">Blog</label>
        <select id="PageBlog_New" name="PageBlog_New">
            @foreach (var blog in Model)
            {
                <option value="@blog.BlogID">@blog.BlogTitle</option>
            }
        </select>
    </div>
    <div class="inprow">
        <div class="inplabel">Content</div>
        <textarea  id="PageContent_New" name="PageContent_New"></textarea>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit"/>
    </div>
</form>