﻿@model http5204_FirstMVC.Models.Page
@{
    ViewBag.Title = "Show";
}

<h2>@Model.PageTitle</h2>
@foreach(var pxt in Model.pagesxtags)
{
    <span style="background:#@pxt.Tag.TagColor" class="colorbox">@Html.ActionLink(pxt.Tag.TagName, "Show/" + pxt.Tag.TagID, "Tag")</span>

}
<div class="promptlink">
    @Html.ActionLink("Edit", "Edit/" + Model.PageID)
</div>
<div>
    <div class="pagecolumn">
        <article class="pagecontent">
            <p>@Model.PageContent</p>
        </article>
    </div>
    <div class="authorcolumn">
        <aside class="img-container">
            @{
                string imgpath = "";
            }
            @if (Model.Blog.Author.HasPic == 1)
            {
                <img src="~/imgs/authors/@(Model.Blog.Author.AuthorID).@(Model.Blog.Author.ImgType)" />
            }
            else
            {
                <img src="~/imgs/authors/default.jpg" />
            }
            
        </aside>
        <span>Written By: @Html.ActionLink(Model.Blog.Author.AuthorPenName,"Details/"+Model.Blog.Author.AuthorID,"Author")</span>
    </div>
    <div class="clearfix"></div>
</div>
