﻿@model http5204_FirstMVC.Models.Author

@{
    ViewBag.Title = "Details";
}
<div class="promptlink">
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuthorID })
</div>
<div class="promptlinkleft">
    @Html.ActionLink("Back to List", "Index")
</div>
<div>
    <div class="authoraltar">
        <div class="img-container">
            @if (Model.HasPic == 1)
            {

                <div class="img-container">
                    <img src="~/imgs/authors/@(Model.AuthorID).@(Model.ImgType)" />
                </div>
            }
            else
            {
                <img src="~/imgs/authors/default.jpg" />
            }
        </div>
        <h2>@Model.AuthorFName  @Model.AuthorLName (a.k.a) @Model.AuthorPenName</h2>
    </div>
   
    <h4>Works done by @Model.AuthorPenName</h4>
    @if (Model.Blogs != null)
    {
        <div class="inprow">
            @foreach (var blog in Model.Blogs)
            {
                <div class="recitem">
                    @Html.ActionLink(blog.BlogTitle, "Show/" + blog.BlogID, "Blog")
                </div>
            }
        </div>
    }
    else
    {
        <span style="font-style:italic;">You don't have any blogs yet.</span>
    }
    @Html.ActionLink("Create a Blog!","New","Blog")
</div>

