﻿@model IEnumerable<http5204_FirstMVC.Models.Author>

@{
    ViewBag.Title = "Index";
}
<div class="banner" id="authorbanner">
    <h2>Authors</h2>
</div>
<div class="recadd">
    @Html.ActionLink("Join Us!", "Create")
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AuthorFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorLName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorPenName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorFName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorLName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorPenName)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AuthorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AuthorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AuthorID })
        </td>
    </tr>
}

</table>
